:root {
  --white: #FFFFFF;
  --gray: #A4A9AC;
  --gray-light: #F4F5F6;
  --black: #2E3437;
  --yellow: #FAD800;
  --yellow-dark: #F2D100;

  --font-size-xxs: 0.875rem; /* 14px */
  --font-size-xs: 1rem;      /* 16px */
  --font-size-s: 1.125rem;   /* 18px */
  --font-size-m: 1.25rem;    /* 20px */
  --font-size-l: 1.5rem;     /* 24px */
  --font-size-xl: 2rem;      /* 32px */
  --font-size-xxl: 2.75rem;  /* 44px */

  --line-height-s: 1.15;
  --line-height-m: 1.25;
  --line-height-l: 1.5;
}
