.cards {
}

.cards__list {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;

  margin: 0;
  padding-left: 0;

  list-style: none;

  @media(min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }

  @media(min-width: 1400px) {
    gap: 40px;
  }
}

.cards__item {
  @media(min-width: 768px) {
    &:last-child {
      min-height: 320px;
      grid-column: 1 / 3;
    }
  }

  @media(min-width: 1400px) {
    min-height: 700px;
  }
}
